bitstring>=3.1.7
clize==4.1.1
importlib-metadata
numpy
onnx==1.11.0
onnxruntime==1.11.1
protobuf==3.20.1
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
sphinx_rtd_theme
toposort>=1.5.0
